.content{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.speedSlide{
    direction: rtl;
}

canvas{
    border: 1px solid black;
}

h3{
    font-family: sans-serif;
}